html {
    scroll-behavior: smooth;
}

body {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100vh;
    margin: 0;
}

section {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100vw;
    height: 100vh;
}

h1 {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    margin: 0;    
}

.leftarrow {
    width: fit-content;
    height: auto;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    position: relative;
    top: 38.5%;
    left: 8%;
    font-size: 40px;
    color: #ffdca8f1;
}

.rightarrow {
    width: fit-content;
    height: auto;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    position: relative;
    left: 90%;
    top: 25.5%;
    font-size: 40px;
    color: #ffdca8f1;
}

.leftarrow:hover, .rightarrow:hover {
    color: #feac31f1;
    transition-duration: 0.5s;
}

#homerightarrow:hover {
    color: #feac31f1;
    transition-duration: 0.5s;
}

#homerightarrow {
    width: fit-content;
    height: auto;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    position: relative;
    left: 90%;
    top: 38.5%;
    font-size: 40px;
    color: #ffdca8f1;
}

.subheading {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.main_navbar {
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
    top: 48vh;
    width: 100%;
}

.navbar {
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10vh;
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

a:hover {
    color: black;
    text-decoration-line: underline;
}

#home > h1 {
    position: absolute;
    top: 43vh;
    width: 100%;
}

#todo > h1, #inprogress > h1, #completed > h1 {
    position: absolute;
    top: 10vh;
    width: 100%;
}

.parent_container {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 50%;
    height: 65%;
    position: absolute;
    left: 25%;
    top: 17.5%;
}

.list_container {
    /* border-style: solid;
    border-color: black;
    border-width: 2px; */
    width: 95%;
    height: 71%;
    position: absolute;
    left: 0;
    top: 12%;

    overflow-y: auto;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 34px;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* cursor: pointer; */
    font-size: 22px;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    width: fit-content;
    left: 10%;
}

/* #toDoListContainer {
    position: absolute;
    height: 60%;
    top: 14%;
} */

.container:last-child {
    margin-bottom: 0;
}

.container:first-child {
    position: relative;
    top: 0;
}

.container > input {
    position: absolute;
    /* opacity: 0; */
    cursor: pointer;
    top: 0;
    left: 0;
    right: 285.725px;
    height: 0;
    width: 0;
    /* left: 289.5px; */
}

.newItemContainer {
    display: block;
    position: relative;
    margin-bottom: 32.5px;
    width: fit-content;
    left: 9%;
    top: 80%;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}

#toDoItem {
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

#addBtn {
    position: relative;
    left: 357px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    cursor: pointer;
    border: none;
    background: none;
    box-shadow: none;
    color: #ffdca8f1;
}

#addBtn:hover {
    color: #feac31f1;
    transition-duration: 0.5s;
}

.checkmark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 285.725px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
    background-color: #ccc;
} */

/* On mouse-over, add a grey background color */
.checkmark:hover {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.options {
    position: absolute;
    top: -3px;
    left: 100%;
    color: grey;
    background-color: transparent;
    border-color: transparent;
    font-size: 22px;
    cursor: pointer;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}

.options:hover, .options:focus {
    color: black;
}

/* .optionsContainer {
    display: none;
    display: inline;
    position: absolute;
    height: fit-content;
    left: 150%;
    background-color: white;
    width: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}  */

/* .optionsContainer > button{
    color: black;
    display: inline-block;
    position: relative;
    bottom: 100%;
    width: 70%;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
} */

/* .optionsContainer > button:hover {
    background-color: #ddd;
} */

.gridline-x {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 100%;
    width: 0;
    position: absolute;
    left: 50%;
}

.gridline-y {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

div::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar {
    width: 16px;
    background: white;
}

div::-webkit-scrollbar-track {
    background: #ffffff;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
}

p {
    cursor: pointer;
}

.optionsOverlay {
    position: fixed;
    /* display: block; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(127, 127, 127, 0.5);
    transition: ease 1.5s;
    backdrop-filter: blur(15px);
    z-index: 1;
}

.optionsOverlay:target {
    opacity: 1;
    pointer-events: auto;
  }

.optionsButtonContainer {
    position: relative;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    width: 100%;
    height: 100%;
}

.optionsButton {
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    height: fit-content;
    display: block;
    position: relative;
    left: 53%;
    top: 27%;
    margin-bottom: 5px;
    font-size: 20px;
}

.test {
    height: fit-content;
    display: block;
    position: relative;
    left: 33%;
    top: 40%;
    margin-bottom: 5px;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 250px;
    padding-left: 10px;
    padding-top: 5px;
    height: 35px;
}

.optionsButton:hover {
    text-decoration: underline;
    transition-duration: 2s;
}