html {
    scroll-behavior: smooth;
}

body {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100vh;
    /* width: auto; */
    margin: 0;
}

section {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#home {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}

#todo {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}

h1 {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    margin: 0;    
}

nav {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}

.leftarrow {
    width: fit-content;
    height: auto;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    position: relative;
    top: 38.5%;
    left: 8%;
    font-size: 40px;
    color: #ffdca8f1;
}

.rightarrow {
    width: fit-content;
    height: auto;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    position: relative;
    left: 90%;
    top: 25.5%;
    font-size: 40px;
    color: #ffdca8f1;
}

#homerightarrow {
    width: fit-content;
    height: auto;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    position: relative;
    left: 90%;
    top: 38.5%;
    font-size: 40px;
    color: #ffdca8f1;
}

.subheading {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.main_navbar {
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
    top: 48vh;
    width: 100%;
}

.navbar {
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10vh;
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

a:hover {
    color: black;
    text-decoration-line: underline;
}

#home > h1 {
    position: absolute;
    top: 43vh;
    width: 100%;
}

#todo > h1, #inprogress > h1, #completed > h1 {
    position: absolute;
    top: 10vh;
    width: 100%;
}

.parent_container {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 50%;
    height: 65%;
    position: absolute;
    left: 25%;
    top: 17.5%;
}

.list_container {
    /* border-style: solid;
    border-color: black;
    border-width: 2px; */
    width: 95%;
    height: 95%;
    position: absolute;
    left: 0;
    top: 0;

    overflow-y: auto;
}

input {
    /* margin-bottom: 25px; */
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 32.5px;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 22px;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    width: fit-content;
    left: 10%;
    top: 10%;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.container:last-child {
    margin-bottom: 90px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.newItemContainer {
    display: block;
    position: relative;
    margin-bottom: 32.5px;
    cursor: pointer;
    width: fit-content;
    left: 9%;
    top: 85%;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}

#toDoItem {
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

#addBtn {
    position: relative;
    left: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#example1 {
    /* margin-top: 25px; */
}

.gridline-x {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 100%;
    width: 0;
    position: absolute;
    left: 50%;
}

.gridline-y {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

*::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px none #000000;
  }

  p {
    cursor: pointer;
  }